node_modules
coverage
npm-debug.log
.sass-cache
.DS_Store
.idea
tmp

build
public/build
public/libs
public/lang
public/css
public/intl
public/img/icons.js
public/img/icons.svg
public/data/*.gz
rev-manifest.json
*.build.jade
*.brand.jade
*.ico.gz

public/test/results
test/e2e/results
test/spec/results

config/credentials.yml

e2e_*.log
e2e_*.err
