@import 'map';
@import 'togglePane';
@import 'tooltip';

$bg-color: #eaeaea;
$text-color: #f65c11;

body {
    background-color: $bg-color;
    font-family: Verdana, sans-serif;
}

#main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#panel-container {
    width: 500px;
}

.main-header {
    margin: 50px 0 0;
    color: $text-color;
    font-size: 40px;
    text-align: center;
}
